@model Balance
@{
    ViewData["Title"] = "Balance";
}

<h2>Balance</h2>

<p>
    Current Balance is
    @Model.CurrentBalance
</p>
<p>
    Incom Total is
    @Model.IncomeTotal
</p>
<p>
    Expense Total is
    @Model.ExpenseTotal
</p>
