@model Balance
@{
    ViewData["Title"] = "TopExpenses";
}

<h2>TopExpenses</h2>

<p>Salary Total is @Model.BalanceTransport</p>
<p>Scholarship Total is @Model.BalanceFood</p>
<p>Bank Total is @Model.BalanceInsurance</p>
<p>Business Total is @Model.BalanceTransport</p>