@model Balance
@{
    ViewData["Title"] = "TopIncomes";
}

<h2>TopIncomes</h2>

<p>Salary Total is @Model.BalanceSalary</p>
<p>Scholarship Total is @Model.BalanceScholarship</p>
<p>Bank Total is @Model.BalanceBank</p>
<p>Business Total is @Model.BalanceBusiness</p>